#page-login {
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-direction: row;
}

#page-login aside {
    display: flex;
    position: absolute;
    width: 30vw;
    height: 100vh;
    right: 0;
    top: 0;
}

#page-login .to-landing-page {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 48px;
    height: 48px;
    background-color: #EBF2F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#page-login form fieldset {
    border: none;
    margin: 130px 60px;
}

#page-login form fieldset .title-login {
    width: 100%;
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
    margin-bottom: 20px;
}

#page-login form fieldset label {
    color: #8FA7B2;
}

#page-login .input-block {
    display: flex;
    flex-direction: column;
}

#page-login .input-block input {
    background-color: #F5F8FA;
    width: 290px;
    height: 44px;
    padding:15px;
    border-radius: 15px;
    border: 1px solid #D3E2E5;
    margin-bottom: 15px;
    outline: none;
}

#page-login .checkbox-container {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#page-login .checkbox-container .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#page-login .checkbox-container .container input {
    margin-right: 5px;
}

#page-login .checkbox-container a {
    color: #8FA7B2;
    text-decoration: none;
}

#page-login .login-button {
    background-color: #37C77F;
    color: #FFF;
    width: 290px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}