#page-recovery-password {
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-direction: row;
}

#page-recovery-password aside {
    display: flex;
    position: absolute;
    width: 30vw;
    height: 100vh;
    right: 0;
    top: 0;
}

#page-recovery-password form fieldset {
    border: none;
    margin: 130px 60px;
}

#page-recovery-password form fieldset .title-reset-password {
    width: 100%;
    font-size: 28px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
    margin-bottom: 20px;
}

#page-recovery-password .reset-password-message {
    color: #8FA7B2;
    font-size: 15px;
    margin-bottom: 30px;
}

#page-recovery-password form fieldset label {
    color: #8FA7B2;
}

#page-recovery-password .input-block {
    display: flex;
    flex-direction: column;
}

#page-recovery-password .input-block input {
    background-color: #F5F8FA;
    width: 290px;
    height: 44px;
    padding:15px;
    border-radius: 15px;
    border: 1px solid #D3E2E5;
    margin-bottom: 15px;
    outline: none;
}

#page-recovery-password .reset-password-button {
    background-color: #37C77F;
    text-decoration: none;
    color: #FFF;
    width: 290px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
}